<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>411659349235-pik3nvlvvbmm7lkho01hh0v4ei0q04et.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411659349235-pik3nvlvvbmm7lkho01hh0v4ei0q04et</string>
	<key>API_KEY</key>
	<string>AIzaSyAkLJ2rKX_U8z5FSyIhEpRj88oaUtLd7BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>411659349235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bayteq.cacpeco</string>
	<key>PROJECT_ID</key>
	<string>cdcfirebasecacpeco-3904d</string>
	<key>STORAGE_BUCKET</key>
	<string>cdcfirebasecacpeco-3904d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411659349235:ios:bf1a4b9aadfac9ca</string>
	<key>DATABASE_URL</key>
	<string>https://cdcfirebasecacpeco-3904d.firebaseio.com</string>
</dict>
</plist>
